<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="EUC-KR">
<title>Taco Cloud</title>
<link rel = "stylesheet" th:href="@{/styles.css}" />
</head>
<body>
	<h1> Design your taco!</h1>
	<form method = "POST" th:object="${taco}">
	<span class = "validationError"
		th:if = "${fields.hasErrors('ingredients')}"
		th:errors="*{ingredients}">Ingredient Error</span>
		
	<div class = "grid">
		<div class = "ingredient-group" id="wraps">
		<h3>Designate your wrap :</h3>
		
		<div th:each="ingredient : ${wrap}">
		
		
		</div>
		</div>
	</div>
	
	</form>
</body>
</html>